<div class="blockcode mt-5 bg-secondary" style="margin-left: -3.5rem; margin-right: -3rem;">
    <footer class="page-footer shadow">
        <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
            <div class="d-flex flex-wrap justify-content-between">
                <div>
                    <a href="/#" class="d-flex align-items-center p-0 text-dark">
                        <img class="rounded" alt="logo" src="/images/logo.jpeg" width="30px" />
                        <span class="ms-3 h5 font-weight-bold">4T VET PHARMACY</span>
                    </a>
                    <p class="text-wrap fs-6 py-2 text-white"><b>Địa chỉ:</b> 140 Lê Trọng Tấn, Tân phú, TPHCM</p>
                    <div class="my-3 ratio ratio-4x3">
                        <iframe class="m-0 p-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0624766960514!2d106.62628677490832!3d10.806526989344121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be2853ce7cd%3A0x4111b3b3c2aca14a!2zMTQwIEzDqiBUcuG7jW5nIFThuqVuLCBTxqFuIEvhu7MsIFTDom4gUGjDuiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1684404766973!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div>
                    <p class="h5 mb-4" style="font-weight: 600">4T VetPharma</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/">Trang chủ</a>
                        </li>
                        <li class="my-2"><a class="text-decoration-none text-white" href="/sp">Sản phẩm</a></li>
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/info">Về chúng tôi</a>
                        </li>
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/contact">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="h5 mb-4" style="font-weight: 600">Danh mục</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/sp/giacam">Gia cầm</a>
                        </li>
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/sp/giasuc">Gia súc</a>
                        </li>
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/sp/thucung">Thú cưng</a>
                        </li>
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/sp/thuysan">Thuỷ sản</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p class="h5 mb-4" style="font-weight: 600">Hỗ trợ</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/signup">Đăng ký</a>
                        </li>
                        <li class="my-2">
                            <a class=" text-decoration-none text-white" href="/login">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-3">
                <div class="mb-1">
                    <a class=" text-decoration-none text-white" href="#">
                        <button class="btn btn-dark btn-flat px-3 py-2">
                            <i class="fab fa-twitter"></i>
                        </button>
                    </a>
                    <a class=" text-decoration-none text-white" href="https://www.facebook.com/HUFIFIT">
                        <button class="btn btn-dark btn-flat px-3 py-2">
                            <i class="fab fa-facebook-square"></i>
                        </button>
                    </a>
                    <a class=" text-decoration-none text-white" href="https://www.instagram.com/hufi_fit/">
                        <button class="btn btn-dark btn-flat px-3 py-2">
                            <i class="fab fa-instagram"></i>
                        </button>
                    </a>
                </div>
                <small>&copy; 4T VetPharma, 2023. All rights reserved.</small>
            </div>
        </div>
    </footer>
</div>