<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4T SHOP</title>
    <!-- cái icon của trang web nào sửa cũng dc -->
    <link rel="icon" href="/images/cat.png">
    <link rel="stylesheet" href="/css/4T.css">
</head>

<body>
    <!-- header -->
    <div class="main">
        <div id="header">

            <!--menu-->
            <ul id="nav">
                <li><a href="/4T">Trang chủ</a></li>
                <li><a href="/4T_IN4.html">Giới thiệu</a></li>
                <li><a href="/ref/4T_SP.html">Sản phẩm
                        <ul class="subnav">
                            <li><a href="pet.html">Thú cưng</a></li>
                            <li><a href="4chan.html">Gia súc</a></li>
                            <li><a href="2chan.html">Gia cầm</a></li>
                            <li><a href="duoiNuoc.html">Thuỷ sản</a></li>
                        </ul>
                    </a></li>
                <li><a href="4T_NEWS.html">Tin tức</a></li>
                <li><a href="4T_LH.html">Liên hệ</a></li>
            </ul>
            <% if (user) { %>
                <p>Hello <%= user.USERNAME %>
                </p>
                <% } %>
                    <!-- tìm kiếm -->
                    <div id="search">
                        <form action="">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button type="submit"><i class="ti-search"></i>cho cái icon kính lúp</button>
                        </form>
                    </div>
        </div>

        <div id="slider">
            <div class="text-center">
                <h2 class="text-heading">4T SHOP</h2>
                <p class="text-description">Chuyên hỗ trợ thú nuôi</p>
            </div>
        </div>
        <!-- content -->

        <!-- footer -->
</body>

</html>