<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Login</title>
    <link rel="stylesheet" href="/css/4T_Log.css">
    <link rel="stylesheet" href="/font/themify-icons-font/themify-icons/themify-icons.css">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/login" method="POST">
                    <h2>Login</h2>
                    <div class="form-group">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input class="form-control" type="text" required name="username">
                        <label class="form-label" for="username">User</label>
                    </div>
                    <div class="form-group">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input class="form-control type="password" required name="password">
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <button type="submit">Log in</button>
                    <div class="thongbao">
                        <% if (message) { %>
                            <p>
                                <%= message %>
                            </p>
                            <% } %>
                    </div>
                    <div class="register">
                        <p>Don't have a account <a href="/signup">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>