<div id="header">
    <a href="" class="logo">
        <img src="/images/logo.jpeg" alt="logo">
    </a>
    <div id="menu">
        <div class="item">
            <a href="/">Trang chủ</a>
        </div>
        <div class="item">
            <a href="/sp">Sản phẩm</a>
        </div>
        <div class="item">
            <a href="/contact">Liên hệ</a>
        </div>
        <div class="item">
            <a href="/info">Về chúng tôi</a>
        </div>
    </div>
    <% if (user) { %>
        <% if (!user.QUANTRI) { %>
            <div id="actions">
                <div class="item">
                    <a href="/logout">Logout</a>
                </div>
                <div class="item">
                    <a id="login"><button class="taikhoan"> <a href="/cart" class="ti-shopping-cart">
                            </a></button></a>
                </div>
            </div>
            <% } %>
                <% } else { %>
                    <div id="actions">
                        <div class="item">
                            <a id="login"><button class="taikhoan"> <a href="/login"> TÀI KHOẢN
                                        <i class="ti-user"></i>
                                    </a></button></a>
                        </div>
                    </div>
                    <% } %>
</div>