<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang sign up</title>
    <link rel="stylesheet" href="/css/4T_Log.css">
    <link rel="stylesheet" href="/font/themify-icons-font/themify-icons/themify-icons.css">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <section class="">
        <div class="form-box-2">
            <div class="form-value">
                <form class="needs-validation" action="/signup" method="POST">
                    <h2>Register</h2>
                    <div class="form-group">
                        <ion-icon name="person-outline"></ion-icon>
                        <input id="username" class="form-control type="text" name="username">
                        <label class="form-label" for="username">Username</label>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input id="email" class="form-control type="email" name="email">
                        <label class="form-label" for="email">Email</label>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input id="password" class="form-control type="password" name="password">
                        <label class="form-label" for="password">Password</label>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input id="rePassword" class="form-control type="password" name="rePassword">
                        <label class="form-label" for="re-enter">Re-enter Pasword</label>
                        <span class="form-message"></span>
                    </div>
                    <button type="submit">OK</button>
                    <div class="thongbao">
                        <% if (message) { %>
                            <p>
                                <%= message %>
                            </p>
                            <% } %>
                    </div>
                    <div class="back-to-login">
                        <p>Already have a account <a href="/login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/index.js"></script>
    <script>
        let form = document.querySelector('.needs-validation');
        ValidateForm(form);
    </script>
</body>
</html>