<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="assets/css/4T_Detail.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <header>
        <nav>
            <div class="img-nav">
                <img src="assets/logo.png" alt="" />
            </div>
            <div class="content-nav">
                <ul>
                    <li><a href="4T.html">Trang Chủ</a></li>
                    <li><a href="#">Sản Phẩm</a></li>
                    <li><a href="4T_Contact.html">Liên hệ</a></li>
                    <li><a href="4T_Info.html">Giới Thiệu</a></li>
                </ul>
                <form>
                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm..." />
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <button id="cart">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                Giỏ Hàng
            </button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Giỏ Hàng</h5>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div class="cart-row">
                            <span class="cart-item cart-header cart-column">Sản Phẩm</span>
                            <span class="cart-price cart-header cart-column">Giá</span>
                            <span class="cart-quantity cart-header cart-column">Số Lượng</span>
                        </div>
                        <div class="cart-items">

                        </div>
                        <div class="cart-total">
                            <strong class="cart-total-title">Tổng Cộng:</strong>
                            <span class="cart-total-price">0VNĐ</span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer">Đóng</button>
                        <button type="button" class="btn btn-primary order">Thanh Toán</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<!-- content -->
<section class="wrapper">
    <div class="products">
        <ul>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham1.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Mẹt đồ chiên</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">50,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham2.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Mẹt nem nướng, cá bò </h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">299,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham3.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Mẹt bánh xèo nem lụi</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">99,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product no-margin">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham4.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Mẹt nướng Sapa</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">89,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham5.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Nem lụi dưa chuột
                    </h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">9,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham6.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Bò bía trứng</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">15,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham7.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Xiên que thịt nướng</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">95,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product no-margin">
                <div class="img-product">
                    <img class="img-prd"
                        src="assets/sanpham8.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Ốc móng tay sả ớt</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">85,000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- footer -->
<footer>
    <div class="footer-item">
        <div class="img-footer">
            <img src="assets/logo.png" alt="" />
        </div>
                <div class="social-footer">
            <li><a target="_blank" href="https://www.facebook.com/Xuantuan059/">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a></li>
            <li><a target="_blank" href="https://github.com/doanxuantuan">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a></li>
           <li><a target="_blank" href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCGRteQaA_3MUX-crhiFxkLg">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a></li>
                <li><a target="_blank" href="https://www.instagram.com/xuantuan01/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
        </div>
    </div>
</footer>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("cart");
    var close = document.getElementsByClassName("close")[0];
    var close_footer = document.getElementsByClassName("close-footer")[0];
    var order = document.getElementsByClassName("order")[0];
    btn.onclick = function () {
      modal.style.display = "block";
    }
    close.onclick = function () {
      modal.style.display = "none";
    }
    close_footer.onclick = function () {
      modal.style.display = "none";
    }
    order.onclick = function () {
      alert("Cảm ơn bạn đã thanh toán đơn hàng")
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }</script>
</body>