@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.form-value .lam-mau
{
    color: #04ffea;
    text-decoration: none;
    font-style: italic;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/banner/bn.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 7px;
}

.form-box {
    position: relative;
    width: auto;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .form-box-2 {
    position: relative;
    width: auto;
    max-height: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: -30px;
} */

.form-group {
    position: relative;
    margin: 60px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .1s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.form-group input:focus {
    box-shadow: none !important;
    color: #fff;
}

.form-group ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register,
.back-to-login {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

}

.register p a,
.back-to-login p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.social {
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
}

.social a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.social a:hover {
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thongbao {
    margin-top: 10px;
    color: rgb(254, 238, 69);
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #ec3636;
    /* font-style: italic; */
    top: 70px;
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}