*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}

.wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: auto;
}

#login{
    color: black;
    margin-right: 10px;
}


.taikhoan{
    color: black;
    background-color: rgb(4, 121, 255);
    border-radius: 5px;
    padding: 10px;
}

.taikhoan a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.taikhoan:hover{
    background-color: yellow;
}
#actions .item {
    margin-left:22px;
}

.main-container1
{
    padding-top: 100px;
}

.jumbotron
{
    height: 520px;
    padding: 100px 60px;
    margin: 0px;
    background-image: url(https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/MA_00891784_oyxmrg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: auto;
    background-color: gray;
}

.jumbotron h1
{
    font-size: 50px;    
    color:cyan;
    font-weight: bold;
}

.jumbotron p
{
    font-size: 28px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.carousel, .slide
{
    padding-top: 50px;
}

.carousel-item {
    min-height: 100px;
    max-height: 700px;
}
  
.card {
    width: 90%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


/* css /sp */
#products{
    margin-top: 150px;
}

/*about*/
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }