/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.wrapper{
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper span, input{
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
}
.wrapper input.num{
  font-size: 10px;
  outline: none;
  border: none;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
}